$marginBlock: 1%;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app__container {
  width: 80%;
  height: 700px;
  margin: 30px auto;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
}
.mobile-buttons {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  @media screen and (max-width: 700px) {
    display: flex;
  }

  .mobile-button {
    font-size: 0.55rem;
    height: 20px;
    width: 80px;
  }
}
.categories__container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.category__container {
  display: flex;
  flex-direction: column;
  width: ((100% - ($marginBlock * 4))/3);
  height: 95%;
  border: 1px solid black;
  margin: 10px $marginBlock;

  @media screen and (max-width: 700px) {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .superurgent {
    display: flex;
    width: 100%;
  }
}
.category__name {
  text-align: center;
}

.list-of-tasks {
  width: 100%;
  height: 530px;
  margin: 5px 0px;
  list-style-type: none;
  overflow: scroll;
  overflow-x: hidden;

  .task {
    padding: 3px 0px;
    display: flex;
    margin: 10px 0px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    word-break: break-all;
    border: 1px solid #000;
  }
  .task-description {
    width: 90%;
    border: 1px solid #000;
  }
  .remove-task-button {
    width: 20px;
    height: 20px;
    margin: 0px 10px 0px 10px;
  }
}

.task-value {
  width: 100%;
  height: 40px;
  resize: none;
}

.add-task {
  width: 40%;
  height: 20px;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.showCategory {
  display: flex;
  width: 100%;
}
.hideCategory {
  display: none;
}
